@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}
body{
    font-family: "Inter", sans-serif;
}
.hero{
    background-image: url(../image/vector.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: right;
    background-color: #fafafa;
}

.container{
    max-width: 1240px;
    margin:0 auto;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin: 20px;
}
.header__links{
    display: flex;
    align-items: center;
    gap: 25px;
}
.header__link{
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
/* home section style */
.home__wrapper{
    display:flex;
    align-items: center;
    gap: 15px;
}
.home__subtitle{
    color: #F43F5E;
    max-width: 400px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    margin-bottom: 20px;
}
.home__title{
    color: #12141D;
    font-size: 48px;
    max-width: 400px;
}
.home__text{
    margin-top: 20px;
    color:#12141D;
    font-size: 20px;
    line-height: 32px;
    opacity: 70%;
}
.section__btn{
   background-color: #EF4444;
    font-size: 16px;
    padding: 16px 20px 16px 20px;
    border: 1px solid #EF4444;
    border-radius: 4px;
    color: #fff;
}
.home__btn{
    margin-top: 20px;
}
/* home section style ends */
/* proper section sstyle */
.proper__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.proper__cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.proper__title{
    color: #12141D;
    font-size:18px;
    font-weight: 700;
    line-height: 28px;
    margin: 10px 0 10px 0;
}
.proper__description{
    color: #12141D;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    opacity: 80%;
}
.proper__span{
    height: 211px;
    width: 2px;
    color: #E4E4E7;
    border: 1px solid #E4E4E7;
}
/* proper section style ends */
/* content section style */
.content__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.content__left--title,
.comment__right--title{
    color: #12141D;
    font-size: 48px;
    font-weight: 700px;
    line-height: 56px;
    letter-spacing: -1px;
    max-width: 400px;
}
.content__left--description,
.comment__right--description{
    color: #12141D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 80%;
    margin-top: 10px;
}
/* content section style ends */
/* comment section style */
.comment__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    gap: 5em;
}

/* comment section style ends */
